In [3]:
import pandas as pd

data = pd.read_csv('data.csv').head()

purchases = data[data["purchase_quantity"] > 0]
purchases.head(10)

,item_id,name,category,price,stock,description,manufacturer,weight,image_url,client_id,client_name,client_email,purchase_date,purchase_quantity
0,1,Item A,Food,9.99,1000,Premium pet food,ABC Pet Foods,2.0,https://example.com/item-a.jpg,client123,John Doe,johndoe@example.com,2023-09-01T10:30:00Z,2.0
1,2,Item B,Toys,5.99,500,Interactive toy for pets,Pet Fun Co.,0.5,https://example.com/item-b.jpg,client123,John Doe,johndoe@example.com,2023-09-03T15:45:00Z,1.0
2,3,Item C,Accessories,12.99,300,Pet collar for dogs,Pet Accessories Inc.,0.2,https://example.com/item-c.jpg,client456,Jane Smith,janesmith@example.com,2023-08-25T11:20:00Z,1.0
3,4,Item D,Food,7.49,750,Healthy cat food,Healthy Pets Ltd.,1.5,https://example.com/item-d.jpg,client789,Mark Johnson,markjohnson@example.com,2023-09-05T14:10:00Z,3.0